[mysqld]
character-set-server=utf8mb4
collation-server = utf8mb4_unicode_ci
max_allowed_packet = 256M
innodb_log_file_size = 256M
innodb_lock_wait_timeout = 60

[client]
default-character-set=utf8mb4

[mysqlhotcopy]
interactive-timeout=60